{% extends "base.html" %}
{% load email %}
{% block container %}
{% body %}
This is sample html
{{lead.name}} - {{lead.phone_number}}
{% endbody %}
{% bodyhtml %}
<link rel="stylesheet" type="text/css" href="../css/template_1.css"/>
<link rel="stylesheet" type="text/css" href="../css/base.css"/>
<div class="fix-padding">
<div class="content applicant-ctn">
    <table border="0" cellpadding="0" cellspacing="0" align="center" class="table-0p0m table-applicant">
        <tr>
            <td class="td-0p0m td-candidate-header">
                <table class="table-0p0m table-applicant-header">
                    <tr>
                        <td align="left">
                            COMPANY NAME
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="td-0p0m td-messages-ctn" align="center">
               
            </td>
        </tr>
    </table>
</div>
</div>
{% endbodyhtml %}
{% endblock container %}

{% block footer %}
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper td-0p0m content">
    <tr>
        <td align="center" valign="top" class="td-0p0m">
            <div class="footer-message">
                FOOTER BLOCK
            </div>
            <div class="footer-copyright">
                © 2016 Email-template-editor
            </div>
        </td>
    </tr>
</table>
{% endblock footer %}
